*.pyc
*.pyo
*.egg-info
*.log
*.tmp.*
*.iml
.idea/
*.swp
*.log
*.db
*.pid

__pycache__
/build
develop-eggs
eggs
parts
.DS_Store
.installed.cfg
.tox
.project


data/
venv/
cover/
/dist/

.externalToolBuilders
.settings
